body{
background-image: url(../images/fondo.png);*/
background-attachment: scroll;
}

nav{
  margin: auto;
  border-radius:0px;
  border-color:none;
  background-image: url(../images/fondonav.png);*/

 }
 nav ul li a {
     color:white;
 }

 .container {
background-color: rgba(255, 255, 117, 0.4);

 }
 .container ul li {
   color:white;

 }
 .container td {
   color:white;
 }
 .navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a>{
    color: white;
}
h1 {
  text-align:center;
  color:orange;
}
.navbar-default .navbar-nav>li>a:hover{
  color: white;
}

ul li{
  list-style-type: none;
}
